:root{
}
body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	color: #20130b;
	background-color:#c9bfa5;
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	align-items:center;	
}

tr {
	/*font-size: 2.5em;*/
	font-size: 36px;
	text-align: center;
}

table {
	margin: 0 auto;
}

.card {
	text-align: center;	
	font-family: Luminari, cursive;
	font-size: 18px;
}

.imagecard {
	background-image: url('../img/CardBG.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: inherit;
	background-size:90px 120px;
	justify-content: center;
	width: 90px;
	height:  120px;
	flex-grow: 0;   
	flex-shrink: 0;

}

.cardlist_initial{
	display:flex;
	width: 90%;
	justify-content: center;
	flex-wrap: wrap;
}


.page-draft{
	/*width: 1100px;*/
	background-color: lightseagreen;
}

.draft-player-card-area-container{
	/*width: 1000px;*/
	background-color: palevioletred;
	width: 100%;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction:row;
}

.draft-player-card-area{
	background-color: indianred;
}

.draft-player-tableau{
	color: #900;
	border:  3px solid cadetblue;
	background-color: powderblue;
	width: 400px;
	/*height:  120px;*/
	flex-wrap: wrap;
	flex-direction:column;
	flex-grow: 0;   
	flex-shrink: 0;

}

.draft-player-name{
	font-weight: bold;
}

.helper-text{
	font-size: x-small;
	font-weight: bolder;
}

.draft-player-cards-picked {
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
}

.draft-player-card-selection {
	background-color: mediumseagreen;
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
}