<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=UTF-8>
  <title>Attribute roll: card draft</title> <!--Maybe change this to a local install?-->


  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/helpmenu.css" rel="stylesheet" type="text/css">

  <script src="https://unpkg.com/vue@2"></script>
  <script type="text/javascript" src="DiceFunctions.js"></script>
  <script type="text/javascript" src="StatCards.js"></script>
  <script type="text/javascript" src="Drafting.js"></script>

    <script type="text/x-template" id="help-template">
     <transition name="modal">
        <div class="popup-mask">
          <div class="help-wrapper">
            <div class="help-container">

              <div class="help-header">
                <slot name="header">
                  Help?
                </slot>
              </div>

              <div class="help-text">
                <slot name="body">
                  No help is available
                </slot>
              </div>

              <div class="help-footer">
                <slot name="footer">
                  &#20
                  <button class="help-default-close" @click="$emit('close')">
                    Close
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <!--id for the item id is index not id and does not produce a unique id - fix!-->
    <script type="text/x-template" id="draft-player">
      <div class="draft-player-tableau">
        <div class="draft-player-name">
            <p> {{ pc.Name }} <span class="helper-text" @click="editName = !editName">EDIT NAME</span></p>
            <p>&#20<input @change="EditNameConfirm($event.target.value)" placeholder="Rename" v-if="editName"></p>
        </div>

        <div class="draft-player-cards-picked">
          Cards picked:
          <statcard-imagecard
              class="card"
              v-for="item in pc.Cards"
              v-bind:statcard="item"
              v-bind:key='pc.id+"chosencard"+item.id'
          ></statcard-imagecard>         
        </div>

        <div class="draft-player-card-selection">
          {{pc.id}} {{draft.ActivePlayerIndex}}
          <p v-if="draft.ActivePlayerIndex == pc.id">choose a card:</p>
          <statcard-imagecard-clickable
              class="card"
              v-for="item in draft.CardSelection(pc.id)"
              v-bind:statcard="item"
              v-bind:draft="draft"
              v-bind:owner="pc"
              v-bind:key="item.id"
          ></statcard-imagecard-clickable>          
        </div>


      </div>
    </script>

</head>

<body>

  <div id="app-dealer">

    <!--
      Couldn't get the component templates working as options
    <div id="cardlistoptions">
      Point Buy type
      <select name="select_PBType">
        <option-pointbuys
          class = "option"
          v-for="item in PointBuyMenu"
          v-bind:pboption="item"
          v-bind:key="item.id"
        >
        </option-pointbuys>
        <option>Grawk,</option>
      </select>
      ?
    </div>

                  v-bind:cardfunction="()=>{pc.TakeCard(draft.PlayerPicksCard(pc.id,item.id))}"
    -->
    <div id="page_roll" v-if="Drafting === false">

      <div id="cardlistoptions">

        <div>
          Number of players
          <select name="select_PlayerCount" @change="onSelect_PlayerCountMenu($event.target.value)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

        </div>

        <div> 
          Diceroll method
          <select name="select_RollType" @change="onSelect_RollTypeMenu($event.target.value)">
            <option value="dl4d6">4d6, drop lowest</option>
            <option value="r3d6">3d6</option>
            <option value="r2d6p6">2d6+6</option>
            <option value="dl5d6">5d6, drop lowest</option>
          </select>
        </div>

        <div>
          Tweak values to approximate point buy? 
          <select name="select_Constraints" @change="onSelect_ConstraintMenu($event.target.value)">
            <option value=0>No</option>
            <option value=1>Yes</option>
          </select>

          <input type="number" 
            name="inputPointBuyPoints" 
            v-if="CM.PointBuyConstraint" 
            value=25 
            @change="onInput_PointBuyPoints($event.target.value)">
        </div>

        <div>
          Point Buy type
          <select name="select_PBType" @change="onSelect_PBMenu($event.target.value)">
            <option value="def">One-to-one</option>
            <option value="DD35" selected>D&D 3.5 standard</option>
            <option value="PF1E">Pathfinder, 1st edition</option>
            <option value="PF1E_f">Pathfinder, 1st edition (strict)</option>
          </select>

          <button id="show-help" @click="showHelp.PointBuy = true">?</button>
          <help-popup v-if="showHelp.PointBuy" @close="showHelp.PointBuy = false" name="helpPopupPointBuy">
            <h3 slot="header">{{ PointBuyMenu[PB.PBType].label }}</h3>
            <!--<div slot="body">{{ PointBuyMenu[PB.PBType].helptext }}</div>-->
            <component slot="body" :is="PointBuyMenu[PB.PBType].helptext && {template:PointBuyMenu[PB.PBType].helptext, data: function() { return {} }}"></component>
          </help-popup>
        </div>
      </div>

      <button v-on:click="Roll">Roll your attribute cards!</button>

      <div class="cardlist_initial">
        <statcard-imagecard
            class="card"
            v-for="item in StatCardPool"
            v-bind:statcard="item"
            v-bind:key="item.id"
        ></statcard-imagecard>

      </div>

      <div v-if="Rolled">
        <p>
          With these cards, the average character will have the equivalent of a {{ GetPointAverage() }} point buy.
        </p>
        <p>
          <button @click="onStart_Draft()">Accept and draft!</button>        
        </p>
      </div>

    </div>

    <div class="page-draft" v-if="Drafting">
      <button @click="Draft.StartDraft()" v-if="Draft.DraftStarted == false">Begin</button>

      <div class="draft-player-card-area-container">
        <draft-player
          class="draft-player-card-area"
          v-for="p in Players"
          v-bind:pc="p"
          v-bind:draft="Draft"
          v-bind:key='"initialcard"+p.id'
          >
        </draft-player> 
        
      </div>
      
      <button @click="Drafting = false">Back</button>
    </div>
  </div>

  

  <script>

    Vue.component('statcard-card', {
      props: ['statcard'],
      template: '<li><table><tr>{{ statcard.High }}</tr><tr>{{ statcard.Low }}</tr></table></li>'
    })

    Vue.component('statcard-imagecard', {
      props: ['statcard'],
      template: '<p class="imagecard"><table><tr>{{ statcard.High }}</font></tr><tr>{{ statcard.Low }}</tr></table>Points: {{ statcard.Points}}</p>',

    })

    Vue.component('statcard-imagecard-clickable', {
      props: ['statcard','cardfunction','owner','draft'], //ownerid may be unnecessary, separate later?
      template: '<p class="imagecard" @click="onclickfunction(statcard)"><table><tr>{{ statcard.High }}</font></tr><tr>{{ statcard.Low }}</tr></table>Points: {{ statcard.Points}}</p>',
      methods: {
        onclickfunction(card) {
          //alert("Player "+this.owner.id+" clicked "+card.High+"/"+card.Low+" with id: "+card.id);
          this.owner.TakeCard(this.draft.PlayerPicksCardDefault(this.owner.id,card.id));
        }
      }
    })

    Vue.component('option-pointbuys', {
      props: ['pboption'],
      template: '<div> {{ pboption.label }} </div>'
    })
    
    Vue.component("help-popup", {
      template: "#help-template"
    })

    
    Vue.component("draft-player", {
      props: ['pc',"draft"],
      data() {return {
        editName:false,
      }},
      methods: {
        EditNameConfirm(newName) {
          this.pc.Name = newName;
          this.editName = false;
        }
      },
      template:'#draft-player'
    })
    

    var appdealer = new Vue({
      el: '#app-dealer',
      data() { return{
        CM: new CardMaker(),
        PB: new PointBuySystem("def"),
        Players: [],
        Draft: {},
        Rolls: 0,
        Rolled: false,
        Drafting: false,
        smallNum: new Intl.NumberFormat('en-US',{maximumFractionDigits:1}),
        StatCardPool: [
          {High:"-",Low:"-",Points:"0",id:0}, 
        ],
        PointBuyMenu: {
        "def":{label:"One to one",ref:"def",id:100,helptext:
        '<p>Points are equal to the straight die roll.</p>'},
        "DD35":{label:"D&D 3.5 standard",ref:"DD35",id:101,helptext:
        '<p>Uses the point buy system from the D&D 3.5e DMG, page 169.<br/><br/>Values less than 8 are worth minus points equal to the difference.</p>'},
        "PF1E":{label:"Pathfinder, 1st edition",ref:"PF1E",id:102,helptext:
        '<p>Uses the method found <a href="https://www.d20pfsrd.com/basics-ability-scores/ability-scores/" target="_blank">here</a>. Smaller attributes are calculated using the same pattern (point value change is the same as the attribute modifier.)</p>'},
        "PF1E_f":{label:"Pathfinder, 1st edition (strict)",ref:"PF1E",id:103,helptext:
        '<p>Uses the method found <a href="https://www.d20pfsrd.com/basics-ability-scores/ability-scores/" target="_blank">here</a>. Attributes smaller than 7 are worth the same as 7. This keeps low scores from cancelling out high ones too much.</p>'},
        }, 
              
        showHelp:{
          PointBuy:false,
        }
      }},
      methods: {
        Roll: function() {
          this.Rolls = this.CM.RollPool(this.PB);
          this.StatCardPool = this.Rolls.Deal(this.PB);
          this.Rolled = true;
        },
        GetPointAverage: function() {
          let total = 0;
          let cardcount = 0;
          for(let card of this.StatCardPool) {
            total += card.Points;
            cardcount++;
          }

          return this.smallNum.format( (total/cardcount)*(this.CM.AttrsPerCharacter/2) );
        },
        onSelect_PlayerCountMenu: function(s) {
          //alert(s)
          this.CM.PartySize = Number(s);
          if(this.Rolled) {
            this.StatCardPool = this.Rolls.Deal(this.PB);
          }
        },
        onSelect_PBMenu: function(s) {
          this.PB.SetSystem(s);
          if(this.Rolled) {
            this.StatCardPool = this.Rolls.Deal(this.PB);
          }
        },
        onSelect_ConstraintMenu: function(s) {
          if(Number(s)) {
            this.CM.PointBuyConstraint = true;
          }
          else {
            this.CM.PointBuyConstraint = false;
          }
        },
        onSelect_RollTypeMenu: function(s) {
          this.CM.Roll = RollMethod(s);
        },
        onInput_PointBuyPoints: function (n) {
          this.CM.PointBuyPoints = n;
        },
        onStart_Draft: function() {
          this.Drafting = true;
          this.Draft = new Draft(this.StatCardPool,this.CM.PartySize);
          this.Players = this.Draft.Players;

        }
      },
      mounted() {
        //Want to change the default point buy to D&D 3.5
        this.onSelect_PBMenu("DD35");
      }
    })
  </script>



</body>
</html>
