<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=UTF-8>
  <title>Attribute roll: card draft</title> <!--Maybe change this to a local install?-->


  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/helpmenu.css" rel="stylesheet" type="text/css">

  <script src="https://unpkg.com/vue@2"></script>
  <script type="text/javascript" src="DiceFunctions.js"></script>
  <script type="text/javascript" src="StatCards.js"></script>
  <script type="text/javascript" src="Drafting.js"></script>

    <script type="text/x-template" id="help-template">
     <transition name="modal">
        <div class="popup-mask">
          <div class="help-wrapper">
            <div class="help-container" :style="widthoverride">

              <div class="help-header">
                <button class="help-default-close" @click="$emit('close')">
                    X
                </button>
                <slot name="header">
                  Help?
                </slot>
              </div>

              <div class="help-text">
                <slot name="body">
                  No help is available
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>



    <!--id for the item id is index not id and does not produce a unique id - fix!-->
    <script type="text/x-template" id="draft-player">
      <div class="draft-player-tableau">
        <div class="draft-player-name">
            <p> {{ pc.Name }} <span class="helper-text" @click="editName = !editName">EDIT NAME</span></p>
            <p>&#20<input @change="EditNameConfirm($event.target.value)" placeholder="Rename" v-if="editName"></p>
        </div>
        <p>Cards picked:</p>
        <div class="draft-player-cards-picked">     
          <statcard-imagecard
              class="card"
              v-for="item in pc.Cards"
              v-bind:statcard="item"
              v-bind:key='pc.id+"chosencard"+item.id'
          ></statcard-imagecard>         
        </div>
        <p v-if="draft.ActivePlayerIndex == pc.id">choose a card:</p>
        <div class="draft-player-card-selection">
          {{pc.id}} {{draft.ActivePlayerIndex}}     
          <statcard-imagecard-clickable
              class="card"
              v-for="item in draft.CardSelection(pc.id)"
              v-bind:statcard="item"
              v-bind:draft="draft"
              v-bind:owner="pc"
              v-bind:key="item.id"
          ></statcard-imagecard-clickable>          
        </div>


      </div>
    </script>

</head>

<body>

  <div id="app-dealer">
    <div class="title-block">
      <div style="flex-grow:3">
        <h1>The Tavern You Meet In</h1>
      </div>
      <div style="flex-grow:1">
          <button id="show-help-app" @click="showHelp.App = true">?</button>
          <help-popup 
          v-bind:widthoverride="MainHelpStyle"
          v-if="showHelp.App" 
          @close="showHelp.App = false" 
          name="helpPopupApp">
            <h3 slot="header">About this App</h3>
            <div slot="body" class="help-scroll">

            <p>This app generates ability scores for a party of characters for tabletop role-playing games such as Dungeons and Dragons.</p> 

            <p>It generates a pool of cards by "rolling" ability scores, just like you would when making characters, and then groups rolls into pairs for each card. There is also the option to replicate point buy systems by automatically adjusting the results to match a certain value.</p> 

            <p>Once the cards are generated, the players take turns choosing cards until everyone has enough attribute scores for their character.</p>  

            <p><h3>The reason behind it</h3></p>

            <p>The traditional method for coming up with character stats in tabletop RPGs is to have everyone roll dice for their own character. This is good! Rolling dice is fun! But one person can end up with much better abilities than another, and if you're planning to play a long running campaign that may last months or years, it can feel unfair and detract from the fun.</p>

            <p>Often times, the solution is to give each player a pool of points with which to buy their attribute score. This works well ensuring that everyone is on the same footing, but with no randomness it can feel too mechanistic. Some randomness is fun!</p>

            <p>I did come across one interesting idea <a href="https://marketplace.roll20.net/browse/gameaddon/431/attribute-drafting-and-role-assignment">here</a>, where players would determine their attribute scores as a group by taking turns drafting cards with pairs of scores on them.</p>
            

            <p>What I didn't like about the implementation was that the scores averaged out to less than you'd expect to get with the standard die rolling or point buy methods. Also there wasn't an option to change the power level of the game by generating higher scores. While, that's not exactly disastrous, wouldn't it be nice if you could generate a set of cards that was equivalent to the technique the players would use otherwise?</p>

            </div>
          </help-popup>
      </div>

    </div>

    <div id="page_roll" v-if="Drafting === false">

      <div id="cardlistoptions">

        <div>
          Number of players
          <select name="select_PlayerCount" @change="onSelect_PlayerCountMenu($event.target.value)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

        </div>

        <div> 
          Diceroll method
          <select name="select_RollType" @change="onSelect_RollTypeMenu($event.target.value)">
            <option value="dl4d6">4d6, drop lowest</option>
            <option value="r3d6">3d6</option>
            <option value="r2d6p6">2d6+6</option>
            <option value="dl5d6">5d6, drop lowest</option>
          </select>
          <button id="show-help-rollmethod" @click="showHelp.RollMethod = true">?</button>
          <help-popup v-if="showHelp.RollMethod" @close="showHelp.RollMethod = false" name="helpPopupRollMethod">
            <h3 slot="header">Rolling Methods</h3>
            <div slot="body">
              <p>{{ RollMenu[DiceRollMethodLabel].helptext }}</p>
              <p>{{ RollMenu[DiceRollMethodLabel].helptext2 }}</p> 
            </div>
          </help-popup>

        </div>

        <div>
          Force a point buy target? 
          <select name="select_Constraints" @change="onSelect_ConstraintMenu($event.target.value)">
            <option value=0>No</option>
            <option value=1>Yes</option>
          </select>

          <input type="number" 
            name="inputPointBuyPoints" 
            v-if="CM.PointBuyConstraint" 
            value=25 
            @change="onInput_PointBuyPoints($event.target.value)">

          <button id="show-help-pointbuy-clamp" @click="showHelp.ClampPointBuy = true">?</button>
          <help-popup v-if="showHelp.ClampPointBuy" @close="showHelp.ClampPointBuy = false" name="helpPopupPointBuyClamp">
            <h3 slot="header">Selecting a point-buy target</h3>
            <div slot="body">
              <p>This control lets you choose an average point-buy equivalent for your card set. The dice are rolled as usual, and then one by one, each roll is increased or decreased by 1, if possible, until the desired point buy is reached. (The point buy value is one character's worth of rolls. For D&D/Pathfinder, this is  6 scores, or 3 cards.)</p>

              <p>There is a preference for higher maximum scores. If the roll needs to be lowered, smaller numbers are subtracted from first, if possible. If the roll needs to be raised, higher numbers are added to first, if possible.</p>
            </div>
          </help-popup>
        </div>

        <div>
          Point Buy type
          <select name="select_PBType" @change="onSelect_PBMenu($event.target.value)">
            <option value="def">One-to-one</option>
            <option value="DD35" selected>D&D 3.5 standard</option>
            <option value="PF1E">Pathfinder, 1st edition</option>
            <option value="PF1E_f">Pathfinder, 1st edition (strict)</option>
          </select>

          <button id="show-help" @click="showHelp.PointBuy = true">?</button>
          <help-popup v-if="showHelp.PointBuy" @close="showHelp.PointBuy = false" name="helpPopupPointBuy">
            <h3 slot="header">{{ PointBuyMenu[PB.PBType].label }}</h3>
            <!--<div slot="body">{{ PointBuyMenu[PB.PBType].helptext }}</div>-->
            <component slot="body" :is="PointBuyMenu[PB.PBType].helptext && {template:PointBuyMenu[PB.PBType].helptext, data: function() { return {} }}"></component>
          </help-popup>
        </div>
      </div>

      <button v-on:click="Roll">Roll your attribute cards!</button>

      <div class="cardlist_initial">
        <statcard-imagecard
            class="card"
            v-for="item in StatCardPool"
            v-bind:statcard="item"
            v-bind:key="item.id"
        ></statcard-imagecard>

      </div>

      <div v-if="Rolled">
        <p>
          With these cards, the average character will have the equivalent of a {{ GetPointAverage() }} point buy.
        </p>
        <p>
          <button @click="onStart_Draft()">Accept and draft!</button>        
        </p>
      </div>

    </div>

    <div class="page-draft" v-if="Drafting">
      <button @click="Draft.StartDraft()" v-if="Draft.DraftStarted == false">Begin</button>

      <div class="draft-player-card-area-container">
        <draft-player
          class="draft-player-card-area"
          v-for="p in Players"
          v-bind:pc="p"
          v-bind:draft="Draft"
          v-bind:key='"initialcard"+p.id'
          >
        </draft-player> 
        
      </div>
      
      <div><button @click="Drafting = false">Back</button></div>
      <div><button v-if="Draft.Cards.length == 0" @click="copyResults">Copy results to clipboard</button></div>  
    </div>
  </div>

  

  <script>

    Vue.component('statcard-card', {
      props: ['statcard'],
      template: '<li><table><tr>{{ statcard.High }}</tr><tr>{{ statcard.Low }}</tr></table></li>'
    })

    Vue.component('statcard-imagecard', {
      props: ['statcard'],
      template: '<div class="imagecard"><table><tr>{{ statcard.High }}</font></tr><tr>{{ statcard.Low }}</tr></table>Points: {{ statcard.Points}}</div>',

    })

    Vue.component('statcard-imagecard-clickable', {
      props: ['statcard','cardfunction','owner','draft'], //ownerid may be unnecessary, separate later?
      template: '<div class="imagecard" @click="onclickfunction(statcard)"><table class="imagecard-stats"><tr>{{ statcard.High }}</font></tr><tr>{{ statcard.Low }}</tr></table>Points: {{ statcard.Points}}</div>',
      methods: {
        onclickfunction(card) {
          //alert("Player "+this.owner.id+" clicked "+card.High+"/"+card.Low+" with id: "+card.id);
          this.owner.TakeCard(this.draft.PlayerPicksCardDefault(this.owner.id,card.id));
        }
      }
    }) //is there a way to properly make this a child or something of previous?

    Vue.component('option-pointbuys', {
      props: ['pboption'],
      template: '<div> {{ pboption.label }} </div>'
    })
    
    Vue.component("help-popup", {
      props: {
        'widthoverride':{
          default:'width:300px',
          required:false,
        }
      },
      template: "#help-template"
    })

    
    Vue.component("draft-player", {
      props: ['pc',"draft"],
      data() {return {
        editName:false,
      }},
      methods: {
        EditNameConfirm(newName) {
          this.pc.Name = newName;
          this.editName = false;
        }
      },
      template:'#draft-player'
    })
    

    var appdealer = new Vue({
      el: '#app-dealer',
      data() { return{
        CM: new CardMaker(),
        PB: new PointBuySystem("def"),
        Players: [],
        Draft: {},
        Rolls: 0,
        Rolled: false,
        Drafting: false,
        MainHelpStyle:"width:500px",
        DiceRollMethodLabel: "dl4d6", //kinda kludgy, for help menu functionality
        smallNum: new Intl.NumberFormat('en-US',{maximumFractionDigits:1}),
        StatCardPool: [
          {High:"-",Low:"-",Points:"0",id:0}, 
        ],
        PointBuyMenu: {
        "def":{label:"One to one",ref:"def",id:100,helptext:
        '<p>Points are equal to the straight die roll.</p>'},
        "DD35":{label:"D&D 3.5 standard",ref:"DD35",id:101,helptext:
        '<p>Uses the point buy system from the D&D 3.5e DMG, page 169.<br/><br/>Values less than 8 are worth minus points equal to the difference.</p>'},
        "PF1E":{label:"Pathfinder, 1st edition",ref:"PF1E",id:102,helptext:
        '<p>Uses the method found <a href="https://www.d20pfsrd.com/basics-ability-scores/ability-scores/" target="_blank">here</a>. Smaller attributes are calculated using the same pattern (point value change is the same as the attribute modifier.)</p>'},
        "PF1E_f":{label:"Pathfinder, 1st edition (strict)",ref:"PF1E",id:103,helptext:
        '<p>Uses the method found <a href="https://www.d20pfsrd.com/basics-ability-scores/ability-scores/" target="_blank">here</a>. Attributes smaller than 7 are worth the same as 7. This keeps low scores from cancelling out high ones too much.</p>'},
        }, 
        RollMenu: {
        "dl4d6":{label:"4d6, drop lowest",ref:"dl4d6",id:"rollmenu_0",
        helptext:'Each ability score is determined by rolling 4 six sided dice and keeping the highest three, generating a number between 3 and 18.',
        helptext2:'This is the standard rollign method for D&D.'},
        "r3d6":{label:"3d6",ref:"r3d6",id:"rollmenu_1",
        helptext:'Each ability score is determined by rolling 3 six sided dice, generating a number between 3 and 18.',  
        helptext2:""},      
        "r2d6p6":{label:"2d6 + 6",ref:"r3d6",id:"rollmenu_2",
        helptext:'Each ability score is determined by rolling 2 six sided dice and addign six, generating a number between 8 and 18.',
        helptext2:'This results in more "average" characters with lower scores instead of heroic characters as is standard.</p>'}, 
        "dl5d6":{label:"5d6, drop lowest",ref:"r3d6",id:"rollmenu_3",
        helptext:'Each ability score is determined by rolling 5 six sided dice and keeping the highest three, generating a number between 3 and 18.',
        helptext2:'This typically results in more powerful characters'},
        },
        showHelp:{
          PointBuy:false,
          ClampPointBuy:false,
          RollMethod: false,
          App: false,
        }
      }},
      methods: {
        Roll: function() {
          this.Rolls = this.CM.RollPool(this.PB);
          this.StatCardPool = this.Rolls.Deal(this.PB);
          this.Rolled = true;
        },
        GetPointAverage: function() {
          let total = 0;
          let cardcount = 0;
          for(let card of this.StatCardPool) {
            total += card.Points;
            cardcount++;
          }

          return this.smallNum.format( (total/cardcount)*(this.CM.AttrsPerCharacter/2) );
        },
        onSelect_PlayerCountMenu: function(s) {
          //alert(s)
          this.CM.PartySize = Number(s);
          if(this.Rolled) {
            this.StatCardPool = this.Rolls.Deal(this.PB);
          }
        },
        onSelect_PBMenu: function(s) {
          this.PB.SetSystem(s);
          if(this.Rolled) {
            this.StatCardPool = this.Rolls.Deal(this.PB);
          }
        },
        onSelect_ConstraintMenu: function(s) {
          if(Number(s)) {
            this.CM.PointBuyConstraint = true;
          }
          else {
            this.CM.PointBuyConstraint = false;
          }
        },
        onSelect_RollTypeMenu: function(s) {
          this.CM.Roll = RollMethod(s);
          this.DiceRollMethodLabel = s;
        },
        onInput_PointBuyPoints: function (n) {
          this.CM.PointBuyPoints = n;
        },
        onStart_Draft: function() {
          this.Drafting = true;
          this.Draft = new Draft(this.StatCardPool,this.CM.PartySize);
          this.Players = this.Draft.Players;

        },
        copyResults: function() {
          Output =  "test1\nTest2";
          navigator.clipboard.writeText(Output);
        },
      },
      mounted() {
        //Want to change the default point buy to D&D 3.5
        this.onSelect_PBMenu("DD35");
      }
    })
  </script>



</body>
</html>
